# binairies
*.exe
*.dll
*.obj
*.pdb
*.out

# Visual Studio files
.vs/
Debug/
Release/
*.user
*.sln
*.vcxproj
*.filters

# trash
*.log
imgui.ini

# Ne legyen exe
*.exe

# Ne legyen freeglut.dll feltöltve
freeglut.dll

# Ne töltse fel a C++ fordító mappát
c_sdk_220203/

#.vs code
.vscode/ 

